on: [push, pull_request]
name: CI
jobs:
  CI:
    runs-on: ubuntu-latest
    env:
      PHP_INI_VALUES: assert.exception=1, zend.assertions=1, apc.enable_cli=1
    strategy:
      fail-fast: false
      matrix:
        php-version:
          - "8.1"
          - "8.2"
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - name: Install PHP with extensions
        uses: shivammathur/setup-php@bf6b4fbd49ca58e4608c9c89fba0b8d90bd2a39f # 2.35.5
        with:
          php-version: ${{ matrix.php-version }}
          tools: composer:v2, phpcs
          coverage: xdebug
          ini-values: ${{ env.PHP_INI_VALUES }}
          extensions: apcu

      - name: Install dependencies with composer
        run: composer update --no-ansi --no-interaction --no-progress

      - name: Run linter
        run: composer lint

      - name: Run validation on composer.json
        run: composer validate

      - name: Run normalizer on composer.json
        run: composer normalize --dry-run

      - name: Run tests
        run: composer test

      - name: Run REST resource tests
        run: composer test_rest_resources

      - name: Check dependencies are listed
        run: vendor/bin/composer-require-checker
