name: Check Markdown links

on: push

jobs:
  markdown-link-check:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - uses: gaurav-nelson/github-action-markdown-link-check@v1
      with:
        folder-path: 'docs/'
        use-verbose-mode: 'yes'
        config-file: '.github/workflows/markdown_link_checker_config.json'
        file-path: './README.md'
