name: Check Markdown links

on: [push, pull_request]

jobs:
  markdown-link-check:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
    - uses: gaurav-nelson/github-action-markdown-link-check@5c5dfc0ac2e225883c0e5f03a85311ec2830d368 # v1
      with:
        folder-path: 'docs/'
        use-verbose-mode: 'yes'
        config-file: '.github/workflows/markdown_link_checker_config.json'
        file-path: './README.md'
